p {
    font-size: 10px;
    font-weight: normal;
}
body {
    font-family: helvetica;
    background-color: navajowhite;
    background-image: url("../Resources/photos/homebackground.jpg");
}
h1 {
    color: white;
    background-color: black;
    text-align: center;
}
.photo{
    background-color: darkblue
    opacity: .5;
}