p {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 5px auto;
}
body {
     background-image: url("../photos/homebackground.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     font-family: Arial, Helvetica, sans-serif;
}

.funthings {
    text-align: center;
    top: 10px;
    margin: 0 5px;
}
div {
    border: 10px 
}
a{
    color: black;
}
h1 {
    color: white;
    text-align: center; 
    height: 10px;
    width: 100%;
    padding: 30px;
    margin: 30px 10px 0 0;
    border-bottom: 5px solid black;
}
img {
    background-color: darkblue;
    opacity: .5;
    top: 10px;
}
header {
    background-color: black;
    border: 5px solid black;
    color: navajowhite;
    width: 100%;
    position: fixed;
    top: 0px;
}
nav li{

}
ul {
    
}   
.funthings{
    margin: 10px auto;
    border: 5px outset red;
    padding: 0;
}
.startupstuff {
    display: inline-block;

}
