p {
    font-size: 16px;
    font-weight: normal;
    text-align: center;

}
body {
     background-image: url("../photos/homebackground.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     font-family: Arial, Helvetica, sans-serif;
}

.funthings {
    text-align: center;
    top: 10px;
}
div {
    top: 30px;
    position: static;
    border: 10px 

}
h1 {
    color: white;
    text-align: center; 
    border-bottom: 10px solid black;
}
img {
    background-color: darkblue;
    opacity: .5;
    top: 10px;
    position: absolute;
}
nav .heads {
    background-color: black;
    border: 20px solid black;
    Position: fixed;
    width: 100%;
    z-index: 2;
    top: 10px;
}
ul {
    top: 20px;
}   
.funthings{
    border: 5px outset red;
    padding: 0;
}
